body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#1b1a1a80, #1b1a1a80), url('/assets/img/fondo.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

ion-header {
  --background: black;
  color: white;

  ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-back-button {
      color: white;
    }

    h1 {
      font-size: 20px;
      text-align: center;
    }
  }
}

ion-content {
  background: transparent;
  --background: transparent;

  .mesa-selector {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;

    ion-button {
      font-size: 12px;
      margin-right: 10px;
    }
  }

  .productos-list {
    margin: 10px 0;
  }

  .orden-actual {
    margin-top: 20px;
    padding: 10px;

    ion-item {
      display: flex;
      align-items: center;

      ion-label {
        flex: 1;
        color: white;
      }

      .nota-input {
        width: 150px;
      }

      div[slot="end"] {
        display: flex;
        gap: 8px;

        ion-button {
          --background: #fff;
          color: black;
          width: 36px;
          height: 36px;
          padding: 0;
        }
      }
    }
  }
}

.botones {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    background: none;
    color: rgb(255, 255, 255);
    border: none;
  }
}

ion-footer {
  --background: black;
  color: white;

  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    ion-buttons {
      display: flex;
      align-items: center;
    }

    ion-button {
      --min-width: 120px; /* Asegura que todos los botones tengan el mismo tamaño */
      height: 40px; /* Establece la altura para los botones */
      margin: 0 0px; /* Espacio entre los botones */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px; /* Ajusta el tamaño de texto dentro de los botones */
    }
  }
}
