body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

ion-header {
  background-color: black;
}

ion-toolbar {
  --background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-back-button {
  color: white;
  position: absolute;
  margin-left: 1px;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y el buscador */
}

ion-content {
  --background: linear-gradient(#00000080, #00000080), url('/assets/img/fondo.jpg') no-repeat center center / cover;
  min-height: 100vh;
  padding: 500px; /* Ajusta este valor según tus necesidades */
}

/* Espacio extra debajo del buscador */
ion-searchbar {
  margin-bottom: 30px; /* Ajusta este valor según tus necesidades */
}

ion-item {
  color: white;
  text-align: left; 
  border-radius: 0px;
  padding: 10px; 
  margin-bottom: 15px; /* Añade espacio entre cada pedido */
}

/* Opcional: si deseas un efecto de separación al pasar el mouse */
ion-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Cambia el color de fondo al pasar el mouse */
}
